{% extends 'polls/base.html' %}

{% block title %}Polls Index page{% endblock %}

{% block style %}
    div.card {
        margin: 0.5rem;
    }

    div.card a.card-link {
        float: right;
        margin-top: 1rem;
    }
{% endblock %}

{% block extrahead %}
    <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
{% endblock %}

{% block content %}
    <h1>List of polls</h1>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua.
    </p>

    <div class="d-flex">
        {% for question in view.questions %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ question }}</h5>
                <ul class="list-group">
                    {% for choice in question.choice_set.all %}
                    <li class="list-group-item">
                        <span title="{{ choice.choice_text }}">{{ choice.choice_text|truncatechars:24 }}</span>
                        <span style="float: right">{{ choice.votes }}</span>
                    </li>
                    {% endfor %}
                </ul>
                <a href="{% url 'polls:vote' question.id %}" class="card-link">Vote</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div id="tester" style="width: 600px; height: 400px;"></div>
    <script>
        let x = ["Apples", "Oranges", "Bananas"]
        let y = ["5", "10", "5"]

        let data = [
            {
                histfunc: "sum",
                y: y,
                x: x,
                type: "histogram",
                name: "sum",
            }
        ]

        Plotly.newPlot('tester', data);
    </script>
{% endblock %}
