<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Polls Index page</title>
        <style>
            div.poll-question {
                border: 1px solid black;
                float: left;
                margin: 0.5rem;
                padding: 0rem 1rem;
            }
        </style>
    </head>
    <body>
        <!-- This is a comment -->
        <h1>List of polls</h1>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="poll-question">
            <h2>Best movie?</h2>
            <ul>
                <li>Choice 1</li>
                <li>Choice 2</li>
                <li>Choice 3</li>
            </ul>
        </div>
        <div class="poll-question">
            <h2>Best book?</h2>
            <ul>
                <li>Choice 1</li>
                <li>Choice 2</li>
                <li>Choice 3</li>
            </ul>
        </div>
    </body>
</html>
